.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.movieDetails {
    background-color: blue;
    height: 100%;
}

.movieTrailer {
    background-color: green;
    height: 100%;
}
